doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Anthony Fiorani dot com
    meta(name="author", content="Anthony Fiorani")
    meta(name="description", content="The website for Anthony Fiorani")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    h2 Anthony Fiorani

    nav 
      a(href="/") Home
      a(href="/reading") Reading
      a(href="/listening") Listening
      a(href="/about") About
    hr

    block content
