extends layout

block content
  each file in pagination.files
    .pagination
      header

        h4
          a(href='/' + file.path)= file.title

        time(datetime=file.date)= moment(file.date).format('MMMM D, YYYY')

      .snip!= file.snippet

      a(href='/' + file.path)
        | Read more

  hr
  footer
    if pagination.next
      a.btn.pull-left(href='/' + pagination.next.path)
        | Older

    if pagination.previous
      a.btn.pull-right(href='/' + pagination.previous.path)
        | Newer

    time Last updated&#32;
      span= moment(date).format('MMMM D, YYYY')
