@import '../vendor/normalize-css/normalize.css'
@import '../vendor/typographic/stylus/typographic'
@import 'type-settings'

normalize()
typographic()


html
  font-size 17px
@media (min-width: 25em) and (max-width: 50em)
  html
    font-size calc(17px + (23 - 17) * ((100vw - 25em)/ (800 - 400)))
@media (min-width: 50em)
  html
    font-size 23px

a
  transition color .4s
  color #949494
  text-decoration none

a:link,
a:visited
  color #949494

h4 > a:link,
h4 > a:visited
  color #333

a:hover,
a:focus,
header > h4 > a:hover,
header > h4 > a:focus
  color #FF4136

a:active
  transition color .3s
  color #FF4136

p > a 
  border-bottom 1px dotted #949494

body
  background #fff
  padding .5em
  margin 0 auto
  max-width 32em

body > h2
  margin-top .618rem
  text-align center

nav
  display flex
  flex-flow row wrap
  text-align center

nav > a
  padding .3875rem

nav > *
  flex 1 100%

@media (min-width: 16em) and (max-width: 22em)
  nav > *
    flex 1 5.5rem

  nav
    justify-content center

@media (min-width: 22em)
  nav
    display block

hr
  border solid #888
  border-width 1px 0 0
  height 0

h4
  margin .875rem 0 0
  line-height 1.063
  color #333

header > h4 > a
  color #888
.pagination
  margin 0
  padding 0
.pagination > a
  margin 0 0 .5rem 0
  line-height 1.063
  padding .125rem 1rem .25rem 0
  margin-bottom .5rem

.snip,
article
  margin 0 .5rem
  
time
  font-size .75rem
  line-height 0.657
  text-transform uppercase

footer > a
  padding 0 .5rem .5rem

.pull-left
  width 20%
  float left
  text-align left

.pull-right
  width 20%
  float right
  text-align right

footer > time
  width 100%
  padding .375rem
  clear both
  float left
  text-align center
  line-height 1.618

footer > time > span
  white-space nowrap

code
  font-family monospace
  font-size .95rem
img
  display block
  margin 0 auto
  padding 0 1rem
  width 65%
